Repository Mojave-Sun/mojave-sun-13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ghilker, @JohnFulpWillard, @MrStonedOne, @NamelessFairy, @Twaticus, @Krysonism, @Imaginos16, @LemonInTheDark, @EOBGames, @ShizCalev, @Maurukas, @stylemistake, @Cyberboss, @optimumtact

Catwalk Tiles have names now & can be recycled (#63142)
  code/game/objects/items/stacks/tiles/tile_types.dm
Owners: none

Fix telecomms to work with multi-z (#63146)
  code/game/machinery/telecomms/machines/relay.dm
Owners: none

[MIRROR] DELTASTATION: Complete service + arrivals revamp, cargo tweaks (some maintenance was harmed in the making of this pr) (#1687)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  code/game/area/space_station_13_areas.dm
  code/game/objects/structures/watercloset.dm
Owners: @EOBGames, @ShizCalev, @Maurukas

[MIRROR] Lipstick re-sprite (#1688)
  icons/obj/items_and_weapons.dmi
Owners: @Twaticus, @Krysonism, @Imaginos16

[MIRROR] Fix nuke ops leader not having an antag HUD to other nuke ops (#1689)
  code/modules/antagonists/nukeop/nukeop.dm
Owners: none

[MIRROR] Fixes baseball bat knockback relative direction (#1690)
  code/game/objects/items/weaponry.dm
Owners: none

[MIRROR] pAI TGUI conversion (#1691)
  code/_globalvars/lists/poll_ignore.dm
  code/_onclick/hud/pai.dm
  code/controllers/subsystem/pai.dm
  code/datums/datacore.dm
  code/game/objects/items/devices/paicard.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/personality.dm
  code/modules/mob/living/silicon/pai/software.dm
  tgui/packages/tgui/interfaces/PaiCard.tsx
  tgui/packages/tgui/interfaces/PaiInterface.tsx
  tgui/packages/tgui/interfaces/PaiSubmit.tsx
Owners: none

[MIRROR] fullauto now checks for incapacitated instead of stat (#1692)
  code/datums/components/fullauto.dm
Owners: none

[MIRROR] Fixes PDA skill tracker hard lock (#1693)
  code/game/objects/items/devices/PDA/PDA.dm
Owners: none

[MIRROR] Fixes cleanbot icon state, as well as removing redundant bloat (#1694)
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Owners: @JohnFulpWillard

[MIRROR] Adds the ventriloquism behavior to disembodied heads. (#1695)
  code/modules/surgery/bodyparts/head.dm
Owners: none

[MIRROR] Limit repository announcements to a whitelist, Discord announces to a blacklist (#1696)
  tools/WebhookProcessor/github_webhook_processor.php
Owners: none

[MIRROR] Fix GitHub webhook (#1697)
  tools/WebhookProcessor/github_webhook_processor.php
Owners: none

[MIRROR] Make consistent capitalization of reagent names (#1698)
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/catalyst_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/impure_reagents.dm
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/reaction_agents_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/reagents/unique/eigenstasium.dm
Owners: none

[MIRROR] Fixes eng jumpsuits still saying they give minor radiation protection. (#1700)
  code/modules/clothing/under/jobs/engineering.dm
Owners: none

[MIRROR] Fixes ed-209 construction not being completable (#1699)
  code/modules/mob/living/simple_animal/bot/construction.dm
Owners: @JohnFulpWillard

[MIRROR] Fix telecomms to work with multi-z (#1702)
  code/game/machinery/telecomms/machines/relay.dm
Owners: none

Deltaservices Fixes: Two ORMs for the price of one (other minor fixes) (#63158)
  _maps/map_files/Deltastation/DeltaStation2.dmm
Owners: @EOBGames, @ShizCalev, @Maurukas

Fix icebox's engine airlock having wrong access. (#63153)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Owners: @EOBGames, @ShizCalev, @Maurukas

[MIRROR] Fix icebox's engine airlock having wrong access. (#1701)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Owners: @EOBGames, @ShizCalev, @Maurukas

[MIRROR] Deltaservices Fixes: Two ORMs for the price of one (other minor fixes) (#1703)
  _maps/map_files/Deltastation/DeltaStation2.dmm
Owners: @EOBGames, @ShizCalev, @Maurukas

[MIRROR] Catwalk Tiles have names now & can be recycled (#1704)
  code/game/objects/items/stacks/tiles/tile_types.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# MAINTAINERS

# CONTRIBUTORS
<<<<<<< HEAD
=======

# Ghilker

/code/__DEFINES/atmospherics/ @Ghilker
/code/modules/atmospherics/ @Ghilker

# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/goon/ @JohnFulpWillard

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOne
/code/__DEFINES/MC.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne
/code/controllers/configuration/entries @MrStonedOne
/config/ @MrStonedOne

# NamelessFairy

/code/modules/capture_the_flag/ @NamelessFairy
/_maps/map_files/CTF/ @NamelessFairy

# MULTIPLE OWNERS

/icons/ @Twaticus @Krysonism @Imaginos16
/code/controllers/subsystem/air.dm @LemonInTheDark @MrStonedOne
/_maps/ @EOBGames @ShizCalev @Maurukas
/tools/build/ @MrStonedOne @stylemistake
/tools/LinuxOneShot/ @Cyberboss @MrStonedOne
/tools/tgs4_scripts/ @Cyberboss @MrStonedOne

#SIC SEMPER TYRANNIS
/code/modules/hydroponics/grown/citrus.dm @optimumtact
>>>>>>> 54cd26866c1... Adds myself as a codeowner of simple bots (#63139)
