Repository Mojave-Sun/mojave-sun-13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ghilker, @JohnFulpWillard, @MrStonedOne, @NamelessFairy, @Twaticus, @ShizCalev, @Krysonism, @LemonInTheDark, @EOBGames, @Maurukas, @stylemistake, @Cyberboss, @optimumtact

[MIRROR] SM: Fix pressure bonus system (#1271)
  code/modules/power/supermatter/supermatter.dm
Owners: none

[MIRROR] Change ishumanbasic to not count felinids, fixes felinid heads of staff (#1272)
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/mobs.dm
Owners: none

[MIRROR] Removes whitespace from two filenames (#1273)
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_demon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_whelp.dm
  tgstation.dme
Owners: none

[MIRROR] Adds two station traits: Ionic Stormfront and Radioactive Stormfront (#1274)
  code/datums/station_traits/negative_traits.dm
Owners: none

[MIRROR] Double bedsheets have the correct worn sprites. (#1275)
  code/game/objects/structures/bedsheet_bin.dm
Owners: none

[MIRROR] Fixes CI failure that no other PR on the repo or even master seems to be getting, so I can only assume is a targetted micro-aggression against me specifically. (#1276)
  tgui/packages/tgui/interfaces/Hypertorus/index.js
Owners: none

[MIRROR] locker electronics no longer put the electronics inside the locker (#1277)
  code/game/objects/structures/crates_lockers/closets.dm
Owners: none

[MIRROR] Refactored spawner window, removed HTML artifact (#1278)
  code/game/objects/structures/ghost_role_spawners.dm
  tgui/packages/tgui/interfaces/SpawnersMenu.js
  tgui/packages/tgui/interfaces/SpawnersMenu.tsx
Owners: none

[MIRROR] Fix runtime on physical experiments' unregister_events() running on null (#1279)
  code/modules/experisci/experiment/types/physical_experiment.dm
Owners: none

[MIRROR] Refactors TGUI crafting menu (#1280)
  tgui/packages/tgui/interfaces/PersonalCrafting.js
Owners: none

[MIRROR] breaks my > 1 year long streak of no webedits. fixes a dumb mistake (#1281)
  code/game/objects/objs.dm
Owners: none

[MIRROR] Traits given by Elements now have element trait as their source. (#1283)
  code/__DEFINES/traits.dm
  code/datums/elements/climbable.dm
  code/datums/elements/cursed.dm
  code/datums/elements/dryable.dm
  code/datums/elements/haunted.dm
  code/datums/elements/honkspam.dm
  code/datums/elements/rust.dm
  code/datums/elements/simple_flying.dm
  code/datums/elements/surgery_initiator.dm
  code/datums/elements/tenacious.dm
  code/datums/elements/turf_transparency.dm
  code/datums/elements/undertile.dm
Owners: none

[MIRROR] Bank machine's process will immediately stop processing if its unpowered/broken. (#1284)
  code/game/machinery/bank_machine.dm
Owners: none

[MIRROR] Prevent the rare documentation generation failure (#1285)
  .github/workflows/generate_documentation.yml
Owners: none

[MIRROR] Vending machine panel icon reorganization (#1286)
  code/modules/vending/_vending.dm
  code/modules/vending/assist.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/boozeomat.dm
  code/modules/vending/cartridge.dm
  code/modules/vending/cigarette.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/coffee.dm
  code/modules/vending/cola.dm
  code/modules/vending/drinnerware.dm
  code/modules/vending/engineering.dm
  code/modules/vending/engivend.dm
  code/modules/vending/games.dm
  code/modules/vending/liberation.dm
  code/modules/vending/liberation_toy.dm
  code/modules/vending/magivend.dm
  code/modules/vending/medical.dm
  code/modules/vending/medical_wall.dm
  code/modules/vending/megaseed.dm
  code/modules/vending/modularpc.dm
  code/modules/vending/nutrimax.dm
  code/modules/vending/robotics.dm
  code/modules/vending/security.dm
  code/modules/vending/snack.dm
  code/modules/vending/sovietsoda.dm
  code/modules/vending/sustenance.dm
  code/modules/vending/toys.dm
  code/modules/vending/wardrobes.dm
  code/modules/vending/youtool.dm
  icons/obj/vending.dmi
Owners: @Twaticus, @ShizCalev, @Krysonism

[MIRROR] Includes `adminobserverooc` span in the OOC selector for chat (#1287)
  tgui/packages/tgui-panel/chat/constants.js
Owners: none

[MIRROR] Refactor /turf/var/intact (#1288)
  code/__DEFINES/turfs.dm
  code/controllers/subsystem/minor_mapping.dm
  code/datums/components/plumbing/_plumbing.dm
  code/datums/station_integrity.dm
  code/game/machinery/navbeacon.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/items/devices/powersink.dm
  code/game/objects/obj_defense.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/catwalk_plating.dm
  code/game/turfs/open/floor/plating.dm
  code/game/turfs/open/glass.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/holodeck/computer.dm
  code/modules/holodeck/turfs.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
  code/modules/power/apc.dm
  code/modules/power/cable.dm
  code/modules/power/power.dm
  code/modules/power/smes.dm
  code/modules/power/terminal.dm
  code/modules/recycling/disposal/construction.dm
  code/modules/recycling/disposal/pipe.dm
Owners: none

[MIRROR] Few minor runtime fixes (#1289)
  code/modules/client/preferences/middleware/random.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/emote.dm
Owners: none

[MIRROR] Drops Ordnance/Toxins and Atmos accesses from command level to common level. (#1291)
  code/__DEFINES/access.dm
Owners: none

[MIRROR] heavily EMPing suit sensors will now short them out instead of randomizing them (#1292)
  code/modules/clothing/under/_under.dm
Owners: none

[MIRROR] Pressure Tank: Fix many runtimes, consistency (#1293)
  code/modules/atmospherics/machinery/components/tank.dm
Owners: @Ghilker

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# MAINTAINERS

# CONTRIBUTORS
<<<<<<< HEAD
=======

# Ghilker

/code/__DEFINES/atmospherics/ @Ghilker
/code/modules/atmospherics/ @Ghilker

# JohnFulpWizard

/goon/ @JohnFulpWillard

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOne
/code/__DEFINES/MC.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne
/code/controllers/configuration/entries @MrStonedOne
/config/ @MrStonedOne

# NamelessFairy

/code/modules/capture_the_flag/ @NamelessFairy
/_maps/map_files/CTF/ @NamelessFairy

# MULTIPLE OWNERS

/icons/ @Twaticus @ShizCalev @Krysonism
/code/controllers/subsystem/air.dm @LemonInTheDark @MrStonedOne
/_maps/ @EOBGames @ShizCalev @Maurukas
/tools/build/ @MrStonedOne @stylemistake
/tools/LinuxOneShot/ @Cyberboss @MrStonedOne
/tools/tgs4_scripts/ @Cyberboss @MrStonedOne

#SIC SEMPER TYRANNIS
/code/modules/hydroponics/grown/citrus.dm @optimumtact
>>>>>>> dc390bd0341... Added NamelessFairy to codeowner of CTF maps and the CTF module (#62407)
